/* Variables de couleurs pour un mode sombre élégant */
:root {
    --bg-color: #0f0f0f;
    --card-bg: #1a1a1a;
    --text-main: #e0e0e0;
    --text-dim: #a0a0a0;
    --accent: #4f46e5; /* Bleu discret */
}

body {
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: 'Inter', sans-serif;
    margin: 0;
    line-height: 1.6;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 10%;
    align-items: center;
}

nav .logo { font-weight: 700; font-size: 1.2rem; }
nav a { color: var(--text-dim); text-decoration: none; margin-left: 20px; transition: 0.3s; }
nav a:hover { color: white; }

/* Header */
header {
    padding: 100px 10%;
    max-width: 800px;
}

h1 { font-size: 3.5rem; margin-bottom: 10px; }
.highlight { color: var(--accent); }
header p { font-size: 1.5rem; color: var(--text-dim); }

/* Grille de projets */
#projets { padding: 80px 10%; }
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* C'est ça qui centre la 4ème carte ! */
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: var(--card-bg);
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #333;
    transition: transform 0.3s ease;
    
    /* Configuration automatique */
    flex: 1 1 300px;  /* Occupe 300px minimum, et s'étale si besoin */
    max-width: 350px; /* Limite la largeur pour garder l'aspect "carte" */
    box-sizing: border-box;
}

/* Force le titre à être centré et prendre toute la largeur */
.center-text {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.card:hover {
    transform: translateY(-5px);
    border-color: var(--accent);
}


.card h3 { margin-top: 0; }
.card a { color: var(--accent); text-decoration: none; font-weight: bold; }

footer { text-align: center; padding: 50px; color: var(--text-dim); font-size: 0.9rem; }
.card-link {
    text-decoration: none;
    color: inherit; /* Garde la couleur du texte originale */
    display: block; /* La zone cliquable prend toute la place de la carte */
}

.timeline {
    margin-top: 40px;
    border-left: 2px solid var(--accent);
    padding-left: 20px;
}

.year-block { margin-bottom: 30px; }
